body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.blogpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 5rem;
    gap: 3rem;
}

.blogpost input {
    border: none;
    border-bottom: 2px solid black;
    width: calc(100vw - 10vw);
}


 .blogpost div {
    position: relative;
} 


#titleDiv::before {
    content: 'type your title';
    position: absolute;
    top: calc(20vh - 150px);
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: calc(100vw - 75vw);
    font-size: 2rem; */
    transition: 0.2s;
    width: 140px;
} 


.blogpost input,textarea {
    margin-bottom: 1rem;
    max-width: calc(100vw - 30vw);
    /* margin-left: 5rem; */
    
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    /* border: none;
    border-bottom: 1px solid black; */
}

button {
    max-width: calc(100vw - 90vw);
    background-color: transparent;
    outline: none;
    
    padding-left:1rem;
    padding-right: 1rem;
    border-radius: 3px;
    border:0.5px solid black;

    transition: 0.2s;

    

}

button:hover {
    background-color: #424242;
    color:#FEFFEA;
    cursor:pointer;
}